<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="direction: rtl;">
  <a href="/">
    <img
      src="https://c1.klipartz.com/pngpicture/543/436/sticker-png-green-leaf-logo-plant-stem-flower-tree-plants-line.png"
      alt="الشجرة الذهبية" style="width: 40px; height: 40px; margin-right: 10px;">
  </a>
  <div class="container">
    <!-- شعار النص -->
    <a class="navbar-brand ml-auto" href="/"
      style="font-family: 'Cursive', sans-serif; font-size: 24px; font-weight: bold; color: ⁠228B22;">الشجرة الذهبية</a>

    <!-- صورة الشعار -->

    <!-- زر القائمة المنسدلة -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- العناصر في شريط التنقل -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-2" href="/">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2" href="/about">حول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2" href="#">الخدمات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">اتصل بنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">أطلب المساعدة</a>
        </li>
        <!-- Add Log in button -->
        <li class="nav-item">
          <a class="nav-link mr-2" href="/login">تسجيل الدخول</a>
        </li>

        <!-- Add Signup button -->
        <li class="nav-item">
          <a class="nav-link" href="/Signup">التسجيل</a>
        </li>
      </ul>
    </div>
  </div>
</nav>