<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="about content">
    <h2>من نحن</h2>
    <p>مرحبًا بكم في موقعنا الرسمي للتبرعات، حيث نسعى جاهدين لتعزيز وتطوير زراعة المناطق داخل المملكة الأردنية الهاشمية. يقع الأردن ضمن المناطق ذات الظروف البيئية التحديّة، ومن خلال دعمكم، نطمح في تحقيق فارق إيجابي في حياة الأفراد وتعزيز استدامة المشاريع الزراعية.

      تعتبر التبرعات التي نجمعها أساسية لتوفير الإمكانيات والموارد الضرورية لتحسين زراعة المناطق وتطوير التقنيات الحديثة. من خلال دعمكم، يمكننا توفير المعدات الزراعية المتقدمة وتقديم التدريب المتخصص للمزارعين، مما يعزز إنتاجية الأراضي الزراعية ويحسن جودة المحاصيل.

      تسعى فرقنا المتخصصة إلى تحسين التوعية بأهمية الزراعة المستدامة وتشجيع المجتمع على المشاركة الفعّالة في هذا السياق. من خلال تعزيز التحول نحو نماذج زراعية أكثر استدامة، نسعى إلى تحقيق توازن بين احتياجات الجماعة والمحافظة على البيئة.

      انضموا إلينا في رحلتنا لتحقيق التغيير الإيجابي، حيث يمكنكم المساهمة بشكل مباشر من خلال التبرعات والمشاركة في المشاريع المحلية التي تهدف إلى تعزيز زراعة المناطق وتحسين الظروف البيئية للأجيال القادمة. شكرًا لدعمكم ومساهمتكم في بناء مستقبل أكثر استدامة للأردن.
    </p>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>